<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- To customize the asp.net core module uncomment and edit the following section. 
  For more info see https://go.microsoft.com/fwlink/?linkid=838655 -->
  <system.webServer>
    <handlers>
      <remove name="aspNetCore" />
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" hostingModel="InProcess">
      <environmentVariables>
        <environmentVariable name="ASPNETCORE_HTTPS_PORT" value="44386" />
        <environmentVariable name="COMPLUS_ForceENC" value="1" />
        <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
        <environmentVariable name="ASPNETCORE_HOSTINGSTARTUPASSEMBLIES" value="Microsoft.AspNetCore.Watch.BrowserRefresh;Microsoft.WebTools.BrowserLink.Net" />
        <environmentVariable name="DOTNET_STARTUP_HOOKS" value="C:\Program Files\dotnet\SDK\6.0.300\DotnetTools\dotnet-watch\6.0.300-rtm.22221.4\tools\net6.0\any\middleware\Microsoft.AspNetCore.Watch.BrowserRefresh.dll;C:\Program Files\Microsoft Visual Studio\2022\Community\Common7\IDE\Extensions\Microsoft\Web Tools\Browser Link\Microsoft.WebTools.BrowserLink.Net.dll" />
        <environmentVariable name="ASPNETCORE_AUTO_RELOAD_WS_ENDPOINT" value="wss://localhost:44312/BiometricsProject/,ws://localhost:60828/BiometricsProject/" />
        <environmentVariable name="DOTNET_MODIFIABLE_ASSEMBLIES" value="debug" />
        <environmentVariable name="ASPNETCORE_AUTO_RELOAD_WS_KEY" value="MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEApj6bCaQiSxmw0ppMAw9cxmR5RAFcAAWpNP/d8bOavjJQTL9hQYvgmlbTWEboMr1dxuQE2KQAV/jA0h6TcNAS6KdQcBJ4ConeW9VR/I4cCqgNAiEW+Hzw4SYKuo6A0qC+NIqM0bDvT7LHiY9Q5EWiSELSIxtnofoiqyEtG9qP1n4BtHiMkacLyGwLPudUe+jho1Bnh6uL+KF+vWSbHlaOuLHgD+i7gMXOD8KA7ph7Gzx5jzfxd4ruj0u/oTia2cY1NRAaLJ5buKAAXEro1nxBS86GTl/YHx+mnDBebq7p4lY4vN6OL3EWQ9fKdoowSNQS1VKUD25FNJzOpspI0FqP9QIDAQAB" />
        <environmentVariable name="ASPNETCORE_AUTO_RELOAD_VDIR" value="/" />
      </environmentVariables>
    </aspNetCore>
  </system.webServer>
</configuration>